
body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(27, 27, 50);
  color: white;
}

h1, p {
  text-align: center;
}
form {
  width: 60vw;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
}


fieldset {
  border: 0 none;
  border-bottom: 3px solid #3b3d4f;
  padding: 2em 0;
}

fieldset:first-of-type legend {
  display: none;
}
fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  /*margin: 0.5rem 0;*/
}
/* Centering the legends*/
legend {
  text-align: center;
}

input,
select,
textarea {
  width: 100%;
  margin: 10px 0;
  border-color: #0a0a23;
  border-style: solid;
  height: 2em;
}

input,
textarea {
  background-color: #0a0a23;
  color: #ffffff;
}

input[type="file"] {
  padding: 1px 2px;
}
.inline {
  width: unset;
  vertical-align: middle;
  margin-right: 0.5em;
}

label[for="terms"] a {
  color: #dfdfe2;
}

input[type="submit"] {
  display: block;
  background-color: #3b3d4f;
  font-size: 1.1rem;
  border-color: white;
  min-width: 300px;
  width: 60%;
  margin: 1em auto;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: black;
}

